@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Castoro:ital@1&family=Charm&family=Cormorant+Garamond:wght@300&family=Courgette&family=Dancing+Script&family=Gabriela&family=Graduate&family=Great+Vibes&family=Inter:wght@100;200;300;400&family=Josefin+Sans:wght@700&family=Merienda&family=Merienda+One&family=Montserrat:ital,wght@0,100;0,400;0,800;1,400&family=Nunito+Sans:ital,wght@0,300;1,400&family=Nunito:ital,wght@0,400;1,300&family=Old+Standard+TT&family=Pacifico&family=Quintessential&family=Radio+Canada:wght@500&family=Ramaraja&family=Roboto:wght@100&family=UnifrakturMaguntia&family=Unna&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: white;
    font-family: "'Radio Canada', sans-serif";
}

.Contact-Card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: column;

    margin: auto;

    height: 680px;
    width: 350px;
}

#ProfilePicture {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    overflow: hidden;

    margin: auto;
    margin-top: 0px;
    
    height: auto;
    width: 100%;
}

.Contact-Information {

    display: flex;
    flex-direction: column;

    padding: 10px;

    margin: auto;
    margin-top: 0%;

    width: 100%;
}

#ContactName {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 500;    text-align: center;
}

#PhoneNumber {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;

    text-align: center;
    margin-top: 10px;
}

#Email {
    color: black;
    font-family: "";
    font-size: 19px;
    font-weight: 500;

    text-align: center;
    margin-top: 10px;
}

.About-Contact {

    display: flex;
    flex-direction: column;

    margin: auto;
}

#AboutTitle {
    color: black;
    font-family: "";
    font-size: 18px;
    font-weight: 500;


    margin: auto;
}

#about {
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;

    line-height: 1rem;


    text-align: center;
    margin-top: 10px;
}

.Social-Icon-Bar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: grey;

    display: flex;

    gap: 20px;

    margin: auto;
    margin-bottom: 0px;

    height: 30px;
    width: 100%;
}

#SocialIcon {
    margin: auto;
    height: 25px;
}

